<div class="row col-md-12 section" id="education">
    <div i18n class="col-md-12 sectionHeader" data-aos="fade-right">//Educations</div> 
    <div class="col-md-12 wrapper">
        <div class="col-md-12 scroll-bg">
            <h3 i18n data-aos="fade-left">SJK(C) Jit Sin 'B'</h3>
            <span i18n style="font-style: italic;" data-aos="fade-up">(January 2006 - December 2011)</span><br/>
            <span i18n class="jobType" data-aos="fade-up" (click)="eduBtnOnClick($event,0)">Primary Education&nbsp;<i class="eduBtn fas fa-angle-down" id="eduBtn0"></i></span><br/>
            <div class="eduCont" id="eduCont0" data-aos="slide-down" style="display:none;">
                <button class="eduContCloseBtn" id="eduContCloseBtn0" (click)="eduContCloseBtnOnClick($event,0)"><i class="fas fa-slash"></i><i class="fas fa-slash fa-rotate-90"></i></button>
                <span i18n class="eduTableTitle">Positions</span><br/>
                <div class="col-md-12">
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2006 - 2008]</span>
                        <span i18n class="col-md-10">School Prefect</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2009 - 2011]</span>
                        <span i18n class="col-md-10">Young Doctor Club (Kelab Doktor Muda)</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2009 - 2011]</span>
                        <span i18n class="col-md-10">Librarian</span>
                    </div>
                </div>
                <br/>
                <span i18n class="eduTableTitle">Achievements & Awards</span><br/>
                <div class="col-md-12">
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2009]</span>
                        <span i18n class="col-md-10">Cambridge Young Learners English Tests - Movers</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2010]<i class="fas fa-trophy"></i></span>
                        <span i18n class="col-md-10">The 17th Annual World Children's Picture Contest - Certificate of Merit (Bronze Prize)</span>
                    </div>
                </div>
            </div>
            <hr/>
            <h3 i18n data-aos="fade-left">SMJK Jit Sin SKK</h3>
            <span i18n style="font-style: italic;" data-aos="fade-up">(January 2012 - December 2016)</span><br/>
            <span i18n class="jobType" data-aos="fade-up" (click)="eduBtnOnClick($event,1)">Secondary Education - Information Technology stream&nbsp;<i class="eduBtn fas fa-angle-down" id="eduBtn1"></i></span><br/>
            <div class="eduCont" id="eduCont1" data-aos="slide-down" style="display:none;">
                <button class="eduContCloseBtn" id="eduContCloseBtn1" (click)="eduContCloseBtnOnClick($event,1)"><i class="fas fa-slash"></i><i class="fas fa-slash fa-rotate-90"></i></button>
                <span i18n class="eduTableTitle">Positions</span><br/>
                <div class="col-md-12">
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2012 - 2013]</span>
                        <span i18n class="col-md-10">Librarian</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2014 - 2015]</span>
                        <span i18n class="col-md-10">Arts' Society Committee</span>
                    </div>
                </div>
                <br/>
                <span i18n class="eduTableTitle">Achievements & Awards</span><br/>
                <div class="col-md-12">
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2012]</span>
                        <span i18n class="col-md-10">Certificate of Wushu Proficiency - 5th Grade</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2015]</span>
                        <span i18n class="col-md-10">KDU Games Design Workshop & Challenge 2015 - Certificate of Participation</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2016]</span>
                        <span i18n class="col-md-10">INTI Robotic Challenge 2016 - Certificate of Participation</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2016]</span>
                        <span i18n class="col-md-10">Malaysian National Chemistry Quiz (K<sub>3</sub>M) 2016 - Certificate of Participation</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2016]</span>
                        <span i18n class="col-md-10">KDU Games Design Workshop & Challenge 2016 - Certificate of Participation</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2016]<i class="fas fa-trophy"></i></span>
                        <span i18n class="col-md-10">KDU Games Design Workshop & Challenge 2016 - Certificate of Excellence (Champion)</span>
                    </div>
                </div>
            </div>
            <hr/>
            <h3 i18n data-aos="fade-left"><a class="link" href="https://www.mmu.edu.my/" target="_blank">Multimedia University</a></h3>
            <span i18n style="font-style: italic;" data-aos="fade-up">(July 2017 - November 2018)</span><br/>
            <span i18n class="jobType" data-aos="fade-up" (click)="eduBtnOnClick($event,2)">Foundation in Information and Technology&nbsp;<i class="eduBtn fas fa-angle-down" id="eduBtn2"></i></span><br/>
            <div class="eduCont" id="eduCont2" data-aos="slide-down" style="display:none;">
                <button class="eduContCloseBtn" id="eduContCloseBtn2" (click)="eduContCloseBtnOnClick($event,2)"><i class="fas fa-slash"></i><i class="fas fa-slash fa-rotate-90"></i></button>
                <span i18n class="eduTableTitle">Achievements & Awards</span><br/>
                <div class="col-md-12">
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2018]</span>
                        <span i18n class="col-md-10">Dean's List Award</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2018]</span>
                        <span i18n class="col-md-10">KFEST 2018 Working Committee - Certificate of Participation</span>
                    </div>
                </div>
                <br/>
                <span i18n class="eduTableTitle">Related Project</span><br/>
                <ol class="col-md-12" type="1">
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv0')">Bus Ticket Booking System</span></li>
                </ol>
            </div>
            <hr/>
            <span i18n style="font-style: italic;" data-aos="fade-up">(November 2018 - November 2021)</span><br/>
            <span i18n class="jobType" data-aos="fade-up" (click)="eduBtnOnClick($event,3)">Bachelor in Computer Science (Hons.) Specialized in Software Engineering&nbsp;<i class="eduBtn fas fa-angle-down" id="eduBtn3"></i></span><br/>
            <div class="eduCont" id="eduCont3" data-aos="slide-down" style="display:none;">
                <button class="eduContCloseBtn" id="eduContCloseBtn3" (click)="eduContCloseBtnOnClick($event,3)"><i class="fas fa-slash"></i><i class="fas fa-slash fa-rotate-90"></i></button>
                <span i18n class="eduTableTitle">Achievements & Awards</span><br/>
                <div class="col-md-12">
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2020]</span>
                        <span i18n class="col-md-10">Programming League National 2020 - Certificate of Participation</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="eduTableDate col-md-2">[2021]</span>
                        <span i18n class="col-md-10">Malaysian Students' Technology Week 2021's Hackathon - Certificate of Participation</span>
                    </div>
                </div>
                <br/>
                <span i18n class="eduTableTitle">Related Project</span><br/>
                <ol class="col-md-12" type="1">
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv1')">Mars Rover Mapper</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv2')">University Facilities Management System</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv3')">Flight Ticket Booking System</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv4')">Ants vs. Bugs</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv5')">Online Store</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv6')">ChemistLab: An Educational Game with Learning Analytics Dashboard</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv7')">Bank Loan Predictor</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv8')">E-Commerce Website</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv15')">Aldeberan Emporium: E-Commerce Bakery Mobile App</span></li>
                    <li i18n class="eduTableLink"><span (click)="eduLinkOnClick($event, 'projectDiv18')">Owl's Language Compiler</span></li>
                </ol>
            </div>
        </div>
    </div>
</div>