<base href="/">
<title>Portfolio - PROSC AWARDS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<meta name="keywords" content="proscawards, prosc awards, ong shuoh chwen">
<meta NAME="viewport" CONTENT="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3, viewport-fit=cover">
<meta name="google-site-verification" content="-K5tVcg2I5IWshrwzmR4VrphwVkmIRdwK8anCjufzAA" />

<!--Change theme-->
<div class="themeBtn">
    <button type="button" class="btn" id="lightThemeBtn" (click)="lightThemeBtnOnClick()"><i class="fas fa-sun"></i></button>
    <button type="button" class="btn" id="darkThemeBtn" style="display:none;" (click)="darkThemeBtnOnClick()"><i class="fas fa-moon"></i></button>
</div>
<!--Scroll To Top-->
<div class="scrollTop">
    <button type="button" class="btn" id="scrollTopBtn" style="display:none;" (click)="scrollTopOnClick()"><i class="fas fa-angle-double-up"></i></button>
</div>