.mobileSectionHeader{
    background: var(--currentBgSdColor);
    font-size: 20px;
    color: var(--currentFontCodeColor);
    width: 100vw;
    padding: 20px;
}

#countryTable{
    text-align: center;
    font-size: 25px;
}

#socialFooterDiv{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: left;
    margin-bottom: 1em;
    transition: .3s;

    & div{
        margin: 1em;
    }
    
    & div span{
        font-size: 30px;
        @media screen and (max-width: 400px) {
            font-size: 15px;
        } 
    }
    
    & div span a{
        font-size: 40px;
        text-decoration: none;
        color: var(--currentFontCodeColor); 
        transition: .3s;
        cursor: pointer;
        @media screen and (max-width: 400px) {
            font-size: 25px;
        }  
    }
}
#quickNavDiv{
    text-align: left;
    font-size: 20px;
    margin: 0em .5em;
    
    & span{
        cursor: pointer;
        text-decoration: none;
        color: var(--currentFontCodeColor);
    }
    
    & span:hover{
        text-decoration: underline;
    }
}


#logoFooter{
    margin: 0em .3em;
    font-size: 30px;
}

#footerNavDiv{
    padding: 20px;
}

#totalVisitorDiv{
    text-align: center;
    font-size: 50px;
}

#logoFooterBtn{
    outline: none;
    background: none;
    border: none;
    color: var(--currentFontCodeColor);
    font-size: 40px;
    text-decoration: underline;
    text-align: left;
    transition: .3s;
    @media screen and (max-width: 400px) {
        font-size: 25px;
    }  
}

#visitorDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--currentBgCodeColor);
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: var(--defaultBoxShadow);
    margin: .2em;
}

#footer{
    background: var(--currentBgSdColor);
    padding: 50px;
}

#copyright{
    background: var(--currentBgSdColor);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    width: 100vw;
    transition: .3s;
    @media screen and (max-width: 768px) {
        font-size: 10px;
    }
}

.progressBarDivText{
    display: block;
    transition: .3s;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.hideOverflowOnMobile {
    overflow: hidden;
}

#mobileFooter{
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}

.stickyFooter{
    background: var(--oppositeBgCodeColor);
    position: fixed;
    z-index: 100;
    bottom:0;
    width: 100vh;
    padding: 10px;
    opacity: 1;
    transition: .3s;
}

.countryFlag{
    width: 50px;
}