.certDiv{
    display: flex;

    &>.certInnerDiv{
        margin-right: .5em;
        margin-bottom: .5em;
        flex: 1;
        background: var(--currentBgSdColor);
        box-shadow: var(--defaultBoxShadow);
        border-radius: 5px;
        padding: 20px;
        position: relative;

        &>.certThumbnailDiv{
            position: absolute;
            opacity: 1;
            bottom: .5em;
            right: .5em;
            height: fit-content;
            width: 15%;
            z-index: 0;

            &>.org_thumbnail{
                position: absolute;
                width: 25%;
                bottom: 0;
                right: 0;
                border-top-left-radius: 5px;
                border-bottom-right-radius: 5px;
                display: none;
            }

            &>.uni_thumbnail{
                width: 100%;
                // border-top-left-radius: 5px;
                // border-bottom-right-radius: 5px;
                border-radius: 5px;
                border: 1px solid var(--currentBgSdColor);
                box-shadow: var(--defaultBoxShadow);
            }
        }
        
        &>.certMainDiv{
            display: flex;
            flex-direction: row;
            z-index: 10;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
    
            &>.certInfoDiv{
                display: flex;
                flex-direction: column;
                margin-left: .5em;
                flex-wrap: wrap;
                word-break: break-word;
    
                &>.cert_name{
                    width: 80%;
                    font-size: 25px;
                    word-break: break-word;
                    line-height: 25px;
                    transition: .3s;
                    font-family: SecularOne;
                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                        width: 100%;
                    }
                }
    
                &>.org_name{
                    display: inline;
                    font-size: 18px;
                    transition: .3s;
                    word-break: break-word;
                    width: 80%;
                    opacity: .8;
                    font-family: SecularOne;
                    font-weight: 0;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        font-size: 15px;
                    }
                }
    
                &>.cert_date{
                    color: var(--currentFontDescColor);
                    font-size: 15px;
                    transition: .3s;
                    width: 80%;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        font-size: 13px;
                    }
                }
    
                &>.cred_id{
                    color: var(--currentCommentColor);
                    width: 70%;
                    word-break: break-all;
                    font-size: 15px;
                    transition: .3s;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        font-size: 13px;
                    }
                }
            }
        }
    
        &>.certTagDiv{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: .5em;
            transition: .3s;
            margin-left: .5em;  
            z-index: 20;
    
            @media screen and (max-width: 768px) {
                display: none;
            }
    
            &>.certTagCode{
                background: var(--currentBgCommentColor);
                border-radius: 5px;
                padding: 5px 10px;
                font-size: 13px;
                margin-right: .5em;
                margin-bottom: .5em;
                text-align: center;
                opacity: 1;
                transition: .3s;
                box-shadow: var(--defaultBoxShadow);
                cursor: pointer;
    
                &:hover{
                    color: var(--currentFontDescColor);
                }
            }
        }
    
        &>.credUrlBtn{
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 10px;
            font-size: 20px;
            color: var(--oppositeBgCodeColor);
            border: none;
            background: none;
            outline: none;
            opacity: .3;
            transition: .3s;
    
            &:hover{
                opacity: .8;
            }
        }
    }
}

.searchCertBtn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    border: none;
    outline: none;
    background: none;
    color: var(--oppositeBgCodeColor);
    opacity: .5;
    cursor: pointer;
    transition: .3s;
    z-index: 21;

    @media screen and (max-width: 768px) {
        font-size: 25px;
    }

    &:hover{
        opacity: 1;
    }
}

#searchInput{
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: var(--currentBgCommentColor);
    z-index: 20;
    font-size: 35px;
    outline: none;
    color: #f1f3f4;
    padding-left: 10px;
    transition: .3s;
    width: 100%;

    @media screen and (max-width: 768px) {
        font-size: 23px;
    }

    &:hover, &:focus{
        background: rgba(1,1,1,.1);
        border: none;
        border-bottom: 1px dotted var(--currentFontCodeColor);
        border-radius: 10px;
    }
}

.noResultDiv, .loadingDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2em;
    height: 100vh;
}

.prevQuery{
    color: var(--currentCommentColor);
    font-style: italic;
    text-decoration: underline;
}

.hideTitle{
    color: rgba(1,1,1,0);
}

.activeTag{
    color: var(--currentFontDescColor);
    box-shadow: var(--noBoxShadow) !important;
}

.ngPaginationDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ngPaginationDropdownMobileDiv{
    margin-bottom: 1em;

    &>div{
        width:fit-content;
    }
}

#ngPaginationDropdown{
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--currentFontDescColor);
    background: var(--currentBgCommentColor);
}