<header></header>
<div class="row col-md-12 section" id="aboutme">
    <div i18n class="col-md-12 sectionHeader" data-aos="fade-right">//About Me</div>
    <div class="col-md-12 wrapper">
        <div class="col-md-12" data-aos="zoom-in-right"><span id="aboutMeSpan"></span></div>
        <div class="row col-md-12" id="aboutMeDiv" data-aos="zoom-in-right">
            <div class="col-md-5" data-aos="slide-up" id="potraitDiv">
                <img id="potrait" src="assets/images/me.png" />
            </div>
            <div i18n class="col-md-6" data-aos="fade-left" id="biography">
                <span>&emsp;&emsp;I'm a software engineer who was passionate about graphic design. I had done doodles and sketches artwork since I was young. <a id="bioReadMore" (click)="bioReadMore($event)">Read more...</a></span><span id="bioPt1">During university life, I took on the role of designing the UI of the projects and assignments. Eventually, I got the opportunity to work on web and mobile design during some of my subjects. Other than that, I also embarked on the journey of game development during my Final Year Project.</span><br/><br/>
                <span id="bioPt2">&emsp;&emsp;I pursue my tertiary study in Bachelor of Computer Science specialized in Software Engineering at Multimedia University, Cyberjaya, Malaysia. Furthermore, I'm a hobbyist linguist who found interesting interrelationships between Sino-sphere languages, which are Mandarin, Japanese and Korean. I also spent my free time studying Korean and Japanese.</span><br/><br/>
                <span id="bioPt3">&emsp;&emsp;I'm currently working at BORN Group as Junior Software Engineer, whilst I'm working on personal projects in the mean time. Feel free to get in touch with me on any of the social media above! </span><a id="bioReadLess" (click)="bioReadLess($event)" style="display: none;">Read less...</a>
            </div>            
        </div>
    </div>
</div>
<footer></footer>