<div class="row col-md-12 section" id="experiences">
    <div class="col-md-12 sectionHeader" data-aos="fade-right">//Experiences</div> 
    <div class="col-md-12 wrapper">
        <div class="col-md-12 fixed-bg bg-3" data-aos="zoom-out-down">
        <img style="filter: invert(100%); width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/BORN_GROUP_Inc_logo.svg" />
        </div>
        <div class="col-md-12 scroll-bg">
            <h3 data-aos="fade-left"><a class="link" href="https://borngroup.com/">BORN Group</a></h3>
            <span style="font-style: italic;" data-aos="fade-up">(March 2021 - June 2021)</span><br/>
            <span class="projectType" data-aos="fade-up">PHP Web Developer - Internship</span><br/>
        </div>
    </div>
</div>