<header></header>
<div class="row col-md-12 section" id="experiences">
    <div i18n class="col-md-12 sectionHeader" data-aos="fade-right">//Experiences</div> 
    <div class="col-md-12 wrapper">
        <div class="col-md-12 scroll-bg">
            <div class="expDiv" *ngFor="let infos of infoArr">
                <h3 class="expTitle" data-aos="fade-left" *ngIf="infos.link != ''; else noLinkTitle"><a class="link" href="{{infos.link}}" target="_blank">{{infos.name}}</a></h3>
                <ng-template #noLinkTitle>
                    <h3 class="expTitle" data-aos="fade-left">{{infos.name}}</h3>
                </ng-template>
                <span i18n class="expDuration date" data-aos="fade-up">[{{infos.date}}]</span> • <span class="expDuration date duration" [innerHTML]="durationExp(infos.date)"></span><br/>
                <span i18n class="expType" data-aos="fade-up" (click)="expBtnOnClick($event,infos.id)">{{infos.type}}&nbsp;<i class="expBtn fas fa-angle-down" id="expBtn{{infos.id}}"></i></span><br/>
                <div class="expCont" id="expCont{{infos.id}}" data-aos="slide-down" style="display:none;">
                    <button class="expContCloseBtn" id="expContCloseBtn{{infos.id}}" (click)="expContCloseBtnOnClick($event,infos.id)"><i class="fas fa-slash"></i><i class="fas fa-slash fa-rotate-90"></i></button>
                    <div *ngFor="let job of infos.info">
                        <span i18n class="expTableTitle">{{job.title}}</span><br/>
                        <ul class="col-md-12">
                            <li *ngFor="let desc of job.desc" i18n [innerHTML]="desc"></li>
                        </ul>
                    </div>
                    <div *ngIf="infos.hasRelatedProject">
                        <span i18n class="expTableTitle">Related Projects</span><br/>
                        <ol class="col-md-12" type="1">
                            <li class="expTableLink" *ngFor="let rp of infos.relatedProject"><span (click)="expLinkOnClick($event, rp.div)">{{rp.title}}</span></li>
                        </ol>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>
<footer></footer>