.link{
    text-decoration: none;
    color: var(--currentFontCodeColor);

    &:hover{
        text-decoration: underline;
        color: var(--currentFontCodeColor);
    }
}

.jobType{
    color: var(--currentCommentColor);
}

.expCont{
    background: var(--currentBgCommentColor);
    border-radius: 5px;
    padding: 20px;
    color: var(--currentFontDescColor);
    &>a{
        color: inherit;
    }
}

.expBtn{
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform .3s linear;
}

.activeExp{
    transform: rotate(-180deg);
    transition: transform .3s linear;
}

.ssm_code{
    background: var(--currentBgCommentColor);
    margin-left: .1em;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: 'Montserrat';
}