<div class="row col-md-12 section" id="experiences">
    <div class="col-md-12 sectionHeader" data-aos="fade-right">//Experiences</div> 
    <div class="col-md-12 wrapper">
        <div class="col-md-12 scroll-bg">
            <h3 data-aos="fade-left"><a class="link" href="http://sushi-king.com/">Sushi King</a></h3>
            <span style="font-style: italic;" data-aos="fade-up">(March 2019 - June 2020)</span><br/>
            <span class="projectType" data-aos="fade-up">Part-Time Service/Kitchen Crew&nbsp;<i class="expBtn fas fa-angle-down" id="expBtn0" (click)="expBtnOnClick($event,0)"></i></span><br/>
            <div class="expCont" id="expCont0" data-aos="slide-down" style="display:none;">
                • Serve/greet/lead customers. (Service) <br/>
                • Prepare beverages and desserts. (Pantry) <br/>
                • Prepare sushi and sashimi orders. (Kaiten) <br/>
            </div>
            <hr/>
        </div>
        <div class="col-md-12 fixed-bg bg-3" data-aos="zoom-out-down">
        <img style="filter: invert(100%); width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/BORN_GROUP_Inc_logo.svg" />
        </div>
        <div class="col-md-12 scroll-bg">
            <h3 data-aos="fade-left"><a class="link" href="https://borngroup.com/">BORN Group</a></h3>
            <span style="font-style: italic;" data-aos="fade-up">(March 2021 - June 2021)</span><br/>
            <span class="projectType" data-aos="fade-up">PHP Web Developer - Internship&nbsp;<i class="expBtn fas fa-angle-down" id="expBtn1" (click)="expBtnOnClick($event,1)"></i></span><br/>
            <div class="expCont" id="expCont1" data-aos="slide-down" style="display:none;">
                • Create fully functioning e-commerce website with PHP, JavaScript, HTML and CSS on top of Model View Controller design pattern alongside with an admin panel.<br/>
                • Manage e-commerce website using Magento 2. <br/><br/>
                Related Project<br/>
                1. <a href="#mosDiv">E-Commerce Website</a>
            </div>
            <hr/>
            <span style="font-style: italic;" data-aos="fade-up">(December 2021 - PRESENT)</span><br/>
            <span class="projectType" data-aos="fade-up">Junior Software Engineer&nbsp;<i class="expBtn fas fa-angle-down" id="expBtn2" (click)="expBtnOnClick($event,2)"></i></span><br/>
            <div class="expCont" id="expCont2" data-aos="slide-down" style="display:none;">
                • Manage e-commerce website using Magento 2. <br/>
                • Create modules and perform various tasks in both frontend and backend of Magento 2.<br/>
            </div>
        </div>
    </div>
</div>