<div class="row col-md-12 section" id="education">
    <div i18n class="col-md-12 sectionHeader" data-aos="fade-right">//Contact Me</div> 
    <div class="col-md-12 wrapper">
        <div class="col-md-12 scroll-bg">
            <div class="col-md-12" id="contactDiv">
                <span i18n class="contactLbl">Full Name</span><br/>
                <input type="text" class="contactInput letterOnly" id="contactName" (input)="nameOnChange($event)" (focus)="onFocusClick($event)"/><br/><br/>
                <span i18n class="contactLbl">E-mail</span><br/>
                <input type="email" class="contactInput" id="contactEmail" (input)="emailOnChange($event)" (focus)="onFocusClick($event)"/><br/><br/>
                <span i18n class="contactLbl">Message</span><br/>
                <!--<wysiwyg></wysiwyg>-->
                <textarea type="text" class="contactInput" id="contactMsg" (input)="messageOnChange($event)" (focus)="onFocusClick($event)"></textarea><br/>
                <button type="submit" class="btn" id="contactSubmit" (click)="onFocusClick($event); submitBtnOnClick($event);"><span i18n id="contactSubmitLbl">Submit</span>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="contactThrobber" style="display:none;"></span>
                </button>
            </div>
        </div>
    </div>
</div>
