<div class="col-md-12" id="titleWrapper">
    <div class="col-md-12" id="title"><button id="changeFontBtn" data-id='0' (click)="logoBtnOnClick()"><span>proscawards</span></button></div>
</div>
<div class="col-md-12" id="desc" data-aos="fade-up"><span></span></div>
<div class="col-md-12" id="socialDiv" data-aos="fade-up">
    <div class="col-xs-2"><span><a href="https://github.com/proscawards/" target="_blank"><i class="fab fa-github"></i></a></span></div>
    <div class="col-xs-2"><span><a href="https://www.linkedin.com/in/proscawards/" target="_blank"><i class="fab fa-linkedin"></i></a></span></div>
    <div class="col-xs-2"><span><a href="https://discord.com/users/346129656157831169/" target="_blank"><i class="fab fa-discord"></i></a></span></div>
    <div class="col-xs-2"><span><a href="https://instagram.com/proscawards" target="_blank"><i class="fab fa-instagram"></i></a></span></div>
    <div class="col-xs-2"><span><a id="resumeBtn" (click)="downloadResume($event)"><i class="fas fa-file-signature"></i></a></span></div>
</div>

