#programmingDiv{
    margin: 1em;
}

.progressBarDiv{
    margin: .2em;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.progressBar{
    background-color: var(--currentFontCodeColor);
    color: var(--currentBgCodeColor);
    font-size: 15px;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;

    & .progressBarDivIcon{
        margin-top : .15em;
        margin-left: .1em;
        margin-right: .1em;
        display: none;
        transition: .3s;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}

.progress {
    background-color: var(--currentBgSdColor);
    box-shadow: var(--defaultBoxShadow);
  }

.skillChart{
    width: 100%;
    height: 100%;
}

.skillCard{
    background: var(--currentBgSdColor);
    box-shadow: var(--defaultBoxShadow);
    border-radius: 10px;
    padding: 20px;
    height: 50%;
    margin-bottom: .5em;
    position: relative;
}

.skillBtn{
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform .3s linear;
    position: absolute;
    right: 20px;
}

.activeSkill{
    transform: rotate(-180deg);
    transition: transform .3s linear;
}