<header></header>
<title [title]="title"></title>
<div class="row col-md-12 section" id="skills" (resize)="onResize($event)">
    <div i18n class="col-md-12 sectionHeader" data-aos="fade-right">//Skills</div>
    <div class="col-md-12 wrapper">
        <div class="col-md-12 scroll-bg" data-aos="zoom-in-right">
            <div class="row col-md-12">
                <div i18n class="col-md-4 skillCard"><span (click)="skillBtnOnClick($event,0)"><i class="fas fa-code"></i> Programming Languages<i class="skillBtn activeSkill fas fa-angle-down" id="skillBtn0"></i></span>
                    <div class="skillChart" id="skillCont0"><canvas id="programmingChart"></canvas></div>
                </div>
                <div i18n class="col-md-4 skillCard"><span (click)="skillBtnOnClick($event,1)"><i class="far fa-window-restore"></i> Frameworks<i class="skillBtn activeSkill fas fa-angle-down" id="skillBtn1"></i></span>
                    <div class="skillChart" id="skillCont1"><canvas id="frameworkChart"></canvas></div>
                </div>
                <div i18n class="col-md-4 skillCard"><span (click)="skillBtnOnClick($event,2)"><i class="fas fa-cogs"></i> Engine<i class="skillBtn activeSkill fas fa-angle-down" id="skillBtn2"></i></span>
                    <div class="skillChart" id="skillCont2"><canvas id="engineChart"></canvas></div>
                </div>
            </div>
            <div class="row col-md-12">
                <div i18n class="col-md-4 skillCard"><span (click)="skillBtnOnClick($event,3)"><i class="fas fa-database"></i> Databases<i class="skillBtn activeSkill fas fa-angle-down" id="skillBtn3"></i></span>
                    <div class="skillChart" id="skillCont3"><canvas id="databaseChart"></canvas></div>
                </div>
                <div i18n class="col-md-4 skillCard"><span (click)="skillBtnOnClick($event,4)"><i class="fas fa-photo-video"></i> Editing Suites<i class="skillBtn activeSkill fas fa-angle-down" id="skillBtn4"></i></span>
                    <div class="skillChart" id="skillCont4"><canvas id="editingChart"></canvas></div>
                </div>
                <div i18n class="col-md-4 skillCard"><span (click)="skillBtnOnClick($event,5)"><i class="fas fa-language"></i> Spoken Languages<i class="skillBtn activeSkill fas fa-angle-down" id="skillBtn5"></i></span>
                    <div class="skillChart" id="skillCont5"><canvas id="languageChart"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
