@media screen and (max-width: 768px) {
    :root{
        --screen-width: 768px;
    }

    body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;
    }

    .hideOverflowOnMobile {
        overflow: hidden;
    }

    .fixed-bg{
        display: none;
    }

    #changeFontBtn{
        outline: none;
        background: none;
        border: none;
        color: var(--currentFontCodeColor);
        width: 100%;
        transition: .3s;
    }

    #title{
        background: var(--currentBgSdColor);
        border-radius: 10px;
        font-size: 20px;    
        width: 35vw;
        transition: .3s;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #desc{
        transition: .3s;
        font-size: 30px;
    }

    #lightThemeBtn, #darkThemeBtn{
        position: fixed;
        z-index: 100;
        bottom: 1%;
        left: .5%;
        background: var(--oppositeBgCodeColor);
        border-radius: 100px;
        box-shadow: 5px 5px 5px rgb(0,0,0,.3);
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: .1em;
        transition: .3s;
        opacity: .5;
    }

    .section{
        position: relative;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        width: var(--screen-width);
    }
    
    .sectionHeader{
        font-size: 25px;
    }
    
    .subsectionHeader{
        font-size: 20px;
    }

    #mobileFooter{
        display: block;
    }

    #potrait{
        width: 200px;
        height: 200px;
    }

    #biography{
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }

    #bioReadMore, #proj1ReadMore, #proj2ReadMore{
        display: inline-block;
    }

    #bioPt1, #bioPt2, #bioPt3, #proj1Txt, #proj2Txt{
        display: none;
    }

    .projectImg{
        width: 70px;
    }

    .projectImg img{
        width: 50px;
    }

    .projectImg span{
        display: none;
    }

    #contactDiv{
        border-left: 0px dotted var(--currentFontCodeColor);
    }

    #contactTitle{
        font-size: 30px;
        transition: .3s;
    }

    #copyright{
        font-size: 10px;
        transition: .3s;
        width: 100vw;
    }

    #owl{
        width: 30px;
    }
}