<header></header>
<div class="row col-md-12 section" id="projects">
    <div i18n class="col-md-12 sectionHeader" data-aos="fade-right">//Featured Projects</div> 
    <div class="col-md-12 wrapper">
        <div class="col-md-12 fixed-bg bg-1" data-aos="zoom-out-down">
            <div class="col-md-12"><img src="assets/images/logo/chemistlab-logo.png" style="width:500px;"/></div>
            <div class="col-md-12 progressBarDivBot">
                <div class="col-md-12 progress" style="height: 50px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">Unreal Engine 4</div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">Firebase</div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">Python</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 scroll-bg">
            <h3 data-aos="fade-left" id="chemistlabDiv">An Educational Game with Learning Analytics Dashboard</h3>
            <span i18n style="font-style: italic;" data-aos="fade-up">(November 2020 - March 2021)</span><br/>
            <span class="projectType" data-aos="fade-up">Final Year Project</span><br/>
            <div class="row col-md-12">
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img class="needFilterUE" src="assets/images/logo/ue4.svg" />
                    <span>Frontend & Backend</span>
                </div>
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img src="assets/images/logo/firebase.svg" />
                    <span>Authentication & Realtime-Database</span>
                </div>
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img src="assets/images/logo/python.svg" />
                    <span>Learning Effectiveness</span>
                </div>
                <div class="col-md-4 projectRdImg" data-aos="flip-left" (click)="divOnClick($event,1)">
                    <img src="assets/images/logo/ieee.svg" />
                    <span>
                        <div class="spinner-border spinner-border-sm" role="status"></div>
                        Review in progress
                    </span>
                </div>
                <div class="col-md-4 projectRdImg" data-aos="flip-left" (click)="divOnClick($event,0)">
                    <img src="assets/images/logo/windows.svg" />
                    <span>Download for Windows (.zip)</span>
                    <span style="font-size: small">Version 1.0.2</span>
                </div>
            </div>
            <p data-aos="fade-up" class="longdesc">A chemistry-themed top-down educational game with a learning analytics dashboard that aimed to teach the user the knowledge of chemistry at the end of the educational gameplay. <a id="proj1ReadMore" (click)="proj1ReadMore($event)">Read more...</a>
                <span id="proj1Txt">Within the game, the user can immerse through different worlds, where each world stands for a single chapter. For each stage, there'll be three ministages for the user to answer in order to complete the stage.
                The user would need to collect tips, ask for help or answer directly. As for the dashboard, the dashboard is aimed to improve the user gameplay experience by showing the statistics of the user's individual educational gameplay. 
                Based on the statistics of all users, learning effectiveness of the assisting tools of the ministages is calculated based on the data collected from the users. </span><a id="proj1ReadLess" (click)="proj1ReadLess($event)" style="display:none;">Read less...</a>
            </p>
        </div>
        <div class="col-md-12 fixed-bg bg-2" data-aos="zoom-out-down">
            <img src="assets/images/logo/myonlinestore-logo.png" style="width:500px;"/>
            <div class="col-md-12 progressBarDivBot">
                <div class="progress" style="height: 50px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">PHP</div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">Javascript</div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">HTML</div>
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">CSS</div>
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">Bootstrap</div>
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" data-aos="zoom-in-right">MySQL</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 scroll-bg">
            <h3 data-aos="fade-left" id="mosDiv"><a class="link" href="https://github.com/proscawards/born-ecommerce/">E-Commerce Website</a></h3>
            <span i18n style="font-style: italic;" data-aos="fade-up">(April 2021 - June 2021)</span><br/>
            <span class="projectType" data-aos="fade-up">Industrial Training Project</span><br/>
            <div class="row col-md-12">
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img src="assets/images/logo/php.svg" />
                    <span>Backend</span>
                </div>
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img src="assets/images/logo/javascript.svg" />
                    <span>Frontend & Backend</span>
                </div>
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img src="assets/images/logo/html5.svg" />
                    <span>Frontend</span>
                </div>
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img src="assets/images/logo/css3.svg" />
                    <span>Frontend</span>
                </div>
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img src="assets/images/logo/bootstrap.svg" />
                    <span>Responsive Frontend</span>
                </div>
                <div class="col-md-4 projectImg" data-aos="flip-left">
                    <img src="assets/images/logo/mysql.svg" />
                    <span>Database</span>
                </div>
            </div>
            <p data-aos="fade-up" class="longdesc">A fully working responsive e-commerce website built using MVC (Model View Controller) structure, alongside with an admin panel. <a id="proj2ReadMore" (click)="proj2ReadMore($event)">Read more...</a><span id="proj2Txt">The website included typical features of an e-commerce website, such as 
                product wishlist, product comparison, rating & reviews, coupon, cart, checkout and etc. </span><a id="proj2ReadLess" (click)="proj2ReadLess($event)" style="display:none;">Read less...</a>
            </p>
        </div>
    </div>
    <div class="col-md-12 routeToAllProj">
        <span (click)="route($event, '/all-projects')">View All Projects</span>
    </div>
</div>
<footer></footer>