@mixin center-component {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#proj1ReadMore, #proj2ReadMore, #proj3ReadMore, 
#proj1ReadLess, #proj2ReadLess, #proj3ReadLess{
    text-decoration: underline;
    display: none;
    @media screen and (max-width: 768px) {
        display: inline-block;
    }
}

#proj1Txt, #proj2Txt, #proj3Txt{
    @media screen and (max-width: 768px) {
        display: none;       
    }
}

.projectImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--currentBgSdColor);
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: var(--defaultBoxShadow);
    margin: .2em;
    width: 15%;
    text-align: center;
    @include center-component();
    @media screen and (max-width: 768px) {
        width: fit-content;
        background: none;
        box-shadow: var(--noBoxShadow);
    }

    & img{
        width: 100px;
        @media screen and (max-width: 768px) {
            width: 25px;
        }
    }
    
    & span{
        color: var(--oppositeFontCodeColor);
        display: inline-block;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.projectRdImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--currentBgSdColor);
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: var(--defaultBoxShadow);
    margin: .2em;
    width: 15%;
    text-align: center;
    cursor: pointer;
    @include center-component();
    @media screen and (max-width: 768px) {
        width: fit-content;
        background: none;
        box-shadow: var(--noBoxShadow);
    }

    & img{
        width: 100px;
        @media screen and (max-width: 768px) {
            width: 25px;
        }
    }
    
    & span{
        color: var(--oppositeFontCodeColor);
        display: inline-block;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &:hover{
        box-shadow: 0px 0px 10px 10px var(--oppositeFontCodeColor);
    }
}

.projectTitle{
    font-size: 25px;
    font-family: SecularOne;
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

.projectType{
    color: var(--currentCommentColor);
    font-size: 13px;
    @media screen and (max-width: 768px) {
        font-size: 10px;
    }
}

.projectDuration{
    font-style: italic;
    font-size: 18px;
    font-family: SecularOne;
    opacity: .8 !important;
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }
}

.link{
    text-decoration: none;
    color: var(--currentFontCodeColor);

    &:hover{
        text-decoration: underline;
        color: var(--currentFontCodeColor);
    }
}

.progressBarDivBot{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .9;
    display: block;
    transition: .3s;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.progress-bar{
    font-size: 15px;
}

.routeToAllProj{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    &>span{
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        padding: 20px;
        color: var(--currentCommentColor);
        background: var(--currentBgSdColor);
        box-shadow: none;
        transition: .3s;
        border-radius: 5px;
        transform: scale(1.0);
        font-size: 15px;
        @media screen and (max-width: 768px) {
            font-size: 13px;
        }

        &:hover{
            font-weight: 300;
            transform: scale(1.05);
            color: var(--currentFontColor);
            background: var(--currentBgCommentColor);
            box-shadow: var(--defaultBoxShadow);
        }
    }

}

.longdesc{
    margin-top: 1em;
    text-align: justify;
    font-size: 15px;
    word-wrap: break-word;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}

.projectLogo{
    width: 50%;
}