<div class="row col-md-12 section">
    <div class="col-md-12 subsectionHeader" data-aos="fade-right">//Other Projects</div>
    <div class="col-md-12 wrapper">
        <div class="col-md-12 scroll-bg">
            <div class="row otherProjDiv" data-aos="fade-up">
                <div class="col-md-2 projectDiv">
                    <div class="col-md-12" id="projectDiv0" data-img="assets/images/miniItProject.png" data-name="PSP0201 - Mini IT Project" (click)="projectDivOnClick($event,0,false)">
                        <span>Bus Ticket Booking System</span>
                        <div class="col-md-12">
                            <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png" title="Python" alt="Python"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,0)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,0)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-2 projectDiv" >
                    <div class="col-md-12" id="projectDiv1" data-img="assets/images/marsRoverMapper.png" data-name="TCP1101 - Programming Fundamentals" (click)="projectDivOnClick($event,1,false)">
                        <span>Mars Rover Mapper</span>
                        <div class="col-md-12">
                            <img src="https://www.freeiconspng.com/thumbs/c-logo-icon/c--logo-icon-0.png" title="C++" alt="C++"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,1)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,1)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-3 projectDiv">
                    <div class="col-md-12" id="projectDiv2" data-img="assets/images/ufms.png" data-name="TSE2101 - Software Engineering Fundamentals" (click)="projectDivOnClick($event,2,false)">
                        <span>University Facilities Management System</span>
                        <div class="col-md-12">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Qt_logo_2016.svg/1200px-Qt_logo_2016.svg.png" title="QTCreator" alt="QTCreator"/>
                            <img src="https://www.freeiconspng.com/thumbs/c-logo-icon/c--logo-icon-0.png" title="C++" alt="C++"/>
                            <img src="https://cdn.freebiesupply.com/logos/large/2x/mysql-logo-png-transparent.png" title="MySQL" alt="MySQL"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,2)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,2)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-3 projectDiv">
                    <div class="col-md-12" id="projectDiv3" data-img="assets/images/fbms.png" data-name="TCP1201 - Object-Oriented Programming and Data Structures" (click)="projectDivOnClick($event,3,false)">
                        <span>Flight Ticket Booking System</span>
                        <div class="col-md-12">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Qt_logo_2016.svg/1200px-Qt_logo_2016.svg.png" title="QTCreator" alt="QTCreator"/>
                            <img src="https://www.freeiconspng.com/thumbs/c-logo-icon/c--logo-icon-0.png" title="C++" alt="C++"/>
                            <img src="https://cdn.freebiesupply.com/logos/large/2x/mysql-logo-png-transparent.png" title="MySQL" alt="MySQL"/>
                        </div>
                    </div>   
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,3)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,3)"><i class="fas fa-info-circle"></i></button> 
                </div>
                <div class="col-md-2 projectDiv" >
                    <div class="col-md-12" id="projectDiv4" data-img="assets/images/antvsbug.png" data-name="TCP2201 - Object-Oriented Analysis and Design" (click)="projectDivOnClick($event,4,false)">
                        <span>Ants vs. Bugs</span>
                        <div class="col-md-12">
                            <img src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png" title="Java" alt="Java"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,4)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,4)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv" >
                    <div class="col-md-12" id="projectDiv5" data-img="assets/images/mos.png" data-name="TIS2151 - Web Application Development" (click)="projectDivOnClick($event,5,false)">
                        <span>Online Store</span>
                        <div class="col-md-12">
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/php/php.png" title="PHP" alt="PHP"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/html/html.png" title="HTML5" alt="HTML5"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/css/css.png" title="CSS3" alt="CSS3"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/javascript/javascript.png" title="Javascript" alt="Javascript"/>
                            <img src="https://cdn.freebiesupply.com/logos/large/2x/mysql-logo-png-transparent.png" title="MySQL" alt="MySQL"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,5)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,5)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv">
                    <div class="col-md-12" id="projectDiv6" data-img="assets/images/loanpredictor.png" data-name="TDS3301 - Data Mining" (click)="projectDivOnClick($event,6,false)">
                        <span>Bank Loan Predictor</span>
                        <div class="col-md-12">
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/python/python.png" title="Python" alt="Python"/>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png" title="Jupyter Notebook" alt="Jupyter Notebook"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,6)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,6)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv" >
                    <div class="col-md-12" id="projectDiv7" data-img="assets/images/qiqibot.png" data-name="Personal Project" (click)="projectDivOnClick($event,7,false)">
                        <span>Qiqi Discord Bot</span>
                        <div class="col-md-12">
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/nodejs/nodejs.png" title="Node.js" alt="Node.js"/>
                            <img src="assets/images/logo/djs.png" title="Discord.js" alt="Discord.js"/>
                            <img class="needFilterUE" src="assets/images/logo/expressjs.png" title="Express.js" alt="Express.js"/>
                            <img src="assets/images/logo/rtdb.png" title="Firebase Real-time Database" alt="Firebase Real-time Database"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,7)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,7)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv" >
                    <div class="col-md-12" id="projectDiv8" data-img="assets/images/pdftodocx.png" data-name="Personal Project" (click)="projectDivOnClick($event,8,false)">
                        <span>PDF-to-DOCX Converter</span>
                        <div class="col-md-12">
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/electron/electron.png" title="Electron.js" alt="Electron.js"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/nodejs/nodejs.png" title="Node.js" alt="Node.js"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/javascript/javascript.png" title="Javascript" alt="Javascript"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,8)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,8)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv" >
                    <div class="col-md-12" id="projectDiv9" data-img="assets/images/portfolio.png" data-name="Personal Project" (click)="projectDivOnClick($event,9,false)">
                        <span>Portfolio</span>
                        <div class="col-md-12">
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/angular/angular.png" title="Angular" alt="Angular"/>
                            <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/bootstrap/bootstrap.png" title="Bootstrap" alt="Bootstrap"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/nodejs/nodejs.png" title="Node.js" alt="Node.js"/>
                            <img class="needFilterUE" src="assets/images/logo/expressjs.png" title="Express.js" alt="Express.js"/>
                            <img src="assets/images/logo/rtdb.png" title="Firebase Real-time Database" alt="Firebase Real-time Database"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,9)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,9)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv-disabled" >
                    <div class="col-md-12" id="projectDiv10" data-img="" data-name="Personal Project" (click)="projectDivOnClick($event,10,true)">
                        <div class="ribbon ribbon-top-right"><span><i class="fas fa-code-branch"></i>WIP</span></div>
                        <span>Bao Corporation</span>
                        <div class="col-md-12">
                            <img class="needFilterUE" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/unreal-engine/unreal-engine.png" title="Unreal Engine 4" alt="Unreal Engine 4"/> 
                            <img src="https://www.freeiconspng.com/thumbs/c-logo-icon/c--logo-icon-0.png" title="C++" alt="C++"/>
                            <img src="assets/images/logo/rtdb.png" title="Firebase Real-time Database" alt="Firebase Real-time Database"/>                    
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,10)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,10)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv" >
                    <div class="col-md-12" id="projectDiv11" data-img="assets/images/krnote.png" data-name="Personal Project" (click)="projectDivOnClick($event,11,false)">
                        <span>Korean Notepad</span>
                        <div class="col-md-12">
                            <img src="assets/images/logo/androidstudio.png" title="Android Studio" alt="Android Studio"/>
                            <img src="assets/images/logo/flutter.png" title="Flutter" alt="Flutter"/>
                            <img src="assets/images/logo/dart.png" title="Dart" alt="Dart"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/php/php.png" title="PHP" alt="PHP"/>
                            <img src="https://cdn.freebiesupply.com/logos/large/2x/mysql-logo-png-transparent.png" title="MySQL" alt="MySQL"/>
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,11)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,11)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv" >
                    <div class="col-md-12" id="projectDiv12" data-img="assets/images/todo.png" data-name="Personal Project" (click)="projectDivOnClick($event,12,false)">
                        <span>To-Dos</span>
                        <div class="col-md-12">
                            V1
                            <img src="assets/images/logo/react.png" title="React Native" alt="React Native"/>
                            <img src="assets/images/logo/firestore.png" title="Firebase Cloud Firestore" alt="Firebase Cloud Firestore"/>                    
                        </div>
                        <hr/>
                        <div class="col-md-12">
                            V2
                            <img src="assets/images/logo/react.png" title="React" alt="React"/>
                            <img class="needFilterUE" src="assets/images/logo/nextjs.png" title="Next.js" alt="Next.js"/>
                            <img src="assets/images/logo/tailwind.png" title="Tailwind" alt="Tailwind"/> 
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/sass/sass.png" title="SASS" alt="SASS"/>
                            <img src="assets/images/logo/firestore.png" title="Firebase Cloud Firestore" alt="Firebase Cloud Firestore"/> 
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,12)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,12)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv" >
                    <div class="col-md-12" id="projectDiv13" data-img="assets/images/aldeberan.png" data-name="TIS3551 - Mobile Application Development" (click)="projectDivOnClick($event,13,false)">
                        <span>Aldeberan Emporium: E-Commerce Bakery Mobile App</span>
                        <div class="col-md-12">
                            <img src="assets/images/logo/androidstudio.png" title="Android Studio" alt="Android Studio"/>
                            <img src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png" title="Java" alt="Java"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/php/php.png" title="PHP" alt="PHP"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/nodejs/nodejs.png" title="Node.js" alt="Node.js"/>
                            <img src="https://cdn.freebiesupply.com/logos/large/2x/mysql-logo-png-transparent.png" title="MySQL" alt="MySQL"/>       
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/firebase/firebase.png" title="Firebase" alt="Firebase"/>                    
                        </div>
                    </div>                    
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,13)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,13)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv-disabled" >
                    <div class="col-md-12" id="projectDiv14" data-img="assets/images/krnote.png" data-name="Personal Project" (click)="projectDivOnClick($event,14,true)">
                        <div class="ribbon ribbon-top-right"><span><i class="fas fa-code-branch"></i>WIP</span></div>
                        <span>Dodge MrBao</span>
                        <div class="col-md-12">
                            <img class="needFilterUE" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/unreal-engine/unreal-engine.png" title="Unreal Engine 4" alt="Unreal Engine 4"/> 
                            <img src="https://www.freeiconspng.com/thumbs/c-logo-icon/c--logo-icon-0.png" title="C++" alt="C++"/>
                            <img src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png" title="Java" alt="Java"/>
                            <img src="assets/images/logo/rtdb.png" title="Firebase Real-time Database" alt="Firebase Real-time Database"/>                    
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,14)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,14)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv">
                    <div class="col-md-12" id="projectDiv15" data-img="assets/images/sa.jpg" data-name="Personal Project" (click)="projectDivOnClick($event,15,false)">
                        <span>****** Autobump</span>
                        <div class="col-md-12">
                            <img src="assets/images/logo/androidstudio.png" title="Android Studio" alt="Android Studio"/>
                            <img src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png" title="Java" alt="Java"/>
                            <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png" title="Python" alt="Python"/>
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/nodejs/nodejs.png" title="Node.js" alt="Node.js"/>
                            <img src="assets/images/logo/rtdb.png" title="Firebase Real-time Database" alt="Firebase Real-time Database"/>               
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,15)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,15)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv">
                    <div class="col-md-12" id="projectDiv16" data-img="assets/images/plt.png" data-name="TCP2451 - Programming Language Translation" (click)="projectDivOnClick($event,16,false)">
                        <span>Owl's Language Compiler</span>
                        <div class="col-md-12">
                            <img class='owls' src='assets/images/owls/owls_owl.svg'/>
                            <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/typescript/typescript.png" title="TypeScript" alt="TypeScript"/> 
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/nodejs/nodejs.png" title="Node.js" alt="Node.js"/>               
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,16)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,16)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-4 projectDiv-disabled" >
                    <div class="col-md-12" id="projectDiv17" data-img="assets/images/krnote.png" data-name="Personal Project" (click)="projectDivOnClick($event,17,true)">
                        <div class="ribbon ribbon-top-right"><span><i class="fas fa-code-branch"></i>WIP</span></div>
                        <span>Innov Retail</span>
                        <div class="col-md-12">
                            <img src="https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/angular/angular.png" title="Angular" alt="Angular"/>
                            <img src="assets/images/logo/tailwind.png" title="Tailwind" alt="Tailwind"/>               
                            <img src="https://www.seekpng.com/png/full/8-80775_spring-logo-png-transparent-spring-java.png" title="Spring" alt="Spring"/>                 
                            <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png" title="Python" alt="Python"/>
                            <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/postgresql/postgresql.png" title="PostgreSQL" alt="PostgreSQL"/> 
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,17)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,17)"><i class="fas fa-info-circle"></i></button>
                </div>
                <div class="col-md-2 projectDiv" >
                    <div class="col-md-12" id="projectDiv18" data-img="assets/images/cz.png" data-name="YHM Craftiviti Enterprise" (click)="projectDivOnClick($event,18,false)">
                        <span>Craftiviti Zone</span>
                        <div class="col-md-12">
                            <img src="assets/images/logo/react.png" title="React" alt="React"/>
                            <img src="assets/images/logo/tailwind.png" title="Tailwind" alt="Tailwind"/>               
                        </div>
                    </div>
                    <button class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,18)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,18)"><i class="fas fa-info-circle"></i></button>
                </div>
            </div>
        </div>
    </div>
</div> 