@mixin center-component {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@mixin marginHori {
    margin-left: .1em;
    margin-right: .1em;
}

.otherProjDiv, .compProjDiv{
    position: sticky;
    z-index: 99;
    background: var(--currentBgSdColor);
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
}

.switchProjDiv{
    text-align: center;
    padding: 10px;
    background: none;
    cursor: pointer;

    &>.switchProjBtn:hover{
        color: var(--oppositeFontCodeColor);
    }
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(.7);   

    &::before, &::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid var(--currentBgCodeColor);
    }

    & span {
      position: absolute;
      display: block;
      width: 225px;
      padding: 5px 0;
      background-color: var(--currentBgSdColor);
      color: var(--oppositeFontCodeColor);
      box-shadow: 0 5px 10px rgba(0,0,0,.3);
      font: 700 'Lato', sans-serif;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      text-transform: uppercase;
      text-align: center;
      font-size: 25px;
    }
}

/* top right*/
.ribbon-top-right {
    top: -30px;
    right: -30px;

    &::before, &::after {
        border-top-color: transparent;
        border-right-color: transparent;
    }
    &::before {
        top: 0;
        left: 0;
    }
    &::after {
        bottom: 0;
        right: 0;
    }
    & span {
        left: -25px;
        top: 30px;
        transform: rotate(45deg);
    }
}

.projectDiv{
    @include center-component();
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--currentBgCommentColor);
    padding: 20px;
    box-shadow: var(--defaultBoxShadow);
    margin: 0;
    border: 1px dotted var(--oppositeFontCodeColor);
    transition: .3s;
    transform: scale(1.0);
    font-weight: normal;
    border-collapse: collapse;
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
    width: fit-content;
    cursor: pointer;

    &:hover, &:focus, &.hovered{
        border: 1px dotted var(--currentFontCodeColor);
        background: var(--currentBgSdColor);
        font-weight: bold;
    }
    
    & img{
        width: 50px;
        margin: .3em;
        transition: .3s;

        @media screen and (max-width: 768px) {
            width: 35px;
        } 
    }

    &>div>.progImgDiv{
        display: flex;
        flex-direction: row; 
        @include center-component();
    }
}

.projectDiv-disabled{
    @include center-component();
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--currentBgCommentColor);
    padding: 20px;
    box-shadow: var(--defaultBoxShadow);
    margin: 0;
    border: 1px dotted var(--oppositeFontCodeColor);
    transition: .3s;
    transform: scale(1.0);

    &span{
        color: var(--oppositeFontCodeColor);
        transition: .3s;
    }
    
    & img{
        width: 50px;
        margin: .3em;
    }
}

.projectDivInfoBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--oppositeFontCodeColor);
    outline: none;
    border: none;
    background: none;
    font-size: 20px;
    opacity: .5;
    z-index: 10;
    transition: .3s;

    &:hover{
        opacity: 1;
    }
}

.projectDivSourceBtn{
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--oppositeFontCodeColor);
    outline: none;
    border: none;
    background: none;
    font-size: 20px;
    opacity: .5;
    z-index: 10;
    transition: .3s;

    &:hover{
        opacity: 1;
    }
}

.iconClass{
    font-size: 50px;
    @include marginHori();
    opacity: .8;
}