<header></header>
<div class="row col-md-12 section">
    <div i18n class="col-md-12 sectionHeader" data-aos="fade-right">//All Projects</div>
    <div class="col-md-12 wrapper">
        <div class="col-md-12 scroll-bg">
            <div class="col-md-12 otherProjDiv" data-aos="fade-up">
                <div class="col-md-auto projectDiv" *ngFor="let info of infoArr;let i as index">
                    <div class="col-md-12" id="projectDiv{{info.id}}" (click)="projectDivOnClick($event,info.img,info.type,info.isWIP)">
                        <div *ngIf="info.isWIP" class="ribbon ribbon-top-right"><span><i class="fas fa-code-branch"></i>WIP</span></div>
                        <span class="projectTitleSpan">{{info.title}}</span>
                        <div class="col-md-12 progImgDiv">
                            <img *ngFor="let prog of info.progImg" src={{prog.img}} title={{prog.name}} alt={{prog.name}}/>
                        </div>
                    </div>
                    <button *ngIf="info.source != '#'" class="projectDivSourceBtn" (click)="sourceBtnOnClicked($event,info.id)"><i class="fab fa-github"></i></button>
                    <button class="projectDivInfoBtn" (click)="infoBtnOnClicked($event,info.id)"><i class="fas fa-info-circle"></i></button>
                </div>
        </div>
    </div>
</div> 
<footer></footer>