@font-face {
    font-family: Monolisa;
    src: url("/assets/fonts/Monolisa.ttf") format("truetype");
}

@font-face {
    font-family: DelaGothic;
    src: url("/assets/fonts/DelaGothicOneRegular.ttf") format("truetype");
}

@font-face {
    font-family: LibreBaskerville;
    src: url("/assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
    font-family: LibreBaskerville-Bold;
    src: url("/assets/fonts/LibreBaskerville-Bold.ttf") format("truetype");
}

@font-face {
    font-family: LibreBaskerville-Italic;
    src: url("/assets/fonts/LibreBaskerville-Italic.ttf") format("truetype");
}

@font-face {
    font-family: SecularOne;
    src: url("/assets/fonts/SecularOne.ttf") format("truetype");
}

@font-face {
    font-family: EBGaramond;
    src: url("/assets/fonts/EBGaramond-Regular.ttf") format("truetype");
}

