@mixin glow3d {
    fill: var(--hover3dColor);
    filter: drop-shadow(5px 5px 10px var(--hover3dColor));
}

@mixin blockgapGlowColor {
    fill: var(--hover3dColor);
    filter: drop-shadow(5px 5px 10px var(--blockgapGlowColor));
}

#social3d{
    width: 100vw;
    perspective: 4rem;
    position: relative;
}

.social3dItem{
    position: absolute;
    width: 100vw;
}

#hexTop{
    z-index: 0;
}

#mainCont{
    z-index: 10;
}

#blockgap{
    z-index: 20;
}

#linkedin, #discord, #instagram, #github, #resume,
#skill, #edu, #exp, #project, #cert, #contact, #aboutme, #scrollTop3d{
    cursor: pointer;
    transform: translateY(0px);
    transition: .3s;

    &:hover{
        transform: translateY(-1px);
    }

    &:hover .cls-10{
        @include glow3d();
    }
}

#darktheme{
    display: none;
}

#scrollTop3d{
    cursor: pointer;
    transition: .3s;

    .cls-119{
        animation: glowScrollTop 1s linear infinite alternate;
    }

    &:hover .cls-119{
        @include glow3d();
    }
}

#lighttheme, #darktheme{
    cursor: pointer;
    transition: .3s;

    .cls-119{
        animation: glowTheme 1s linear infinite alternate;
    }

    &:hover .cls-119{
        @include glow3d();
    }
}

@keyframes glowTheme {
    to{
        fill: var(--theme3dGlowColor);
        filter: drop-shadow(5px 5px 10px var(--theme3dGlowColor));
    }
}

@keyframes glowScrollTop {
    to{
        fill: var(--scrollTop3dGlowColor);
        filter: drop-shadow(5px 5px 10px var(--scrollTop3dGlowColor));
    }
}

@keyframes shine {
    to{
        fill: var(--signalGlowColor);
        filter: drop-shadow(5px 5px 10px var(--signalGlowColor));
    }
}

#signal{
    .cls-10{
        animation: shine 1s ease-in-out infinite alternate;
    }
}

#name_en, #name_cn, #name_kr, #name_scong, #name_osc{
    cursor: pointer;
    transform: translateY(0px);
    transition: .3s;

    &:hover{
        transform: translateY(-5px);
    }

    &:hover .cls-10{
        fill: var(--name3dSelColor);
        filter: drop-shadow(5px 5px 10px var(--name3dSelColor));
    }
}

#name_owl, #spammer{
    cursor: pointer;
    transition: .3s;

    &:hover .cls-10{
        fill: var(--name3dSelColor);
        filter: drop-shadow(5px 5px 10px var(--name3dSelColor));
    }
}

.activeName .cls-10{
    fill: var(--name3dSelColor);
    filter: drop-shadow(5px 5px 10px var(--name3dSelColor));
}

#hex1, #hex3{
    animation: hexHoverUTD 5s ease-in-out infinite;
}

#hex5{
    animation: hexHoverUTD 7s ease-in-out infinite;
}

#hex7{
    animation: hexHoverUTD 3s ease-in-out infinite;
}

#hex2{
    animation: hexHoverDTU 5s ease-in-out infinite;
}

#hex4{
    animation: hexHoverDTU 3s ease-in-out infinite;
}

#hex6{
    animation: hexHoverDTU 7s ease-in-out infinite;
}

#hex8{
    animation: hexHoverDTU 1s ease-in-out infinite;
}

@keyframes hexHoverUTD {
    0%, 100% {
        transform: translateY(10px);
      }
      50% {
        transform: translateY(-30px);
      }
}

@keyframes hexHoverDTU {
    0%, 100% {
        transform: translateY(-30px);
      }
      50% {
        transform: translateY(10px);
      }
}

#blockgap1{
    animation: blockgap1 5s ease-in-out infinite;
}

#blockgap2{
    animation: blockgap2 5s ease-in-out infinite;
}

#blockgap3{
    animation: blockgap3 5s ease-in-out infinite;
}

#blockgap4{
    animation: blockgap4 5s ease-in-out infinite;
}

#blockgap5{
    animation: blockgap5 5s ease-in-out infinite;
}

@keyframes blockgap1 {
    0%, 100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(-20px);
        @include blockgapGlowColor();
    }
    55%{
        transform: translateY(10px);
    }
    80%{
        transform: translateY(0px);
    }
}

@keyframes blockgap2 {
    0%, 100%{
        transform: translateY(0px);
    }
    54%{
        transform: translateY(0px);
    }
    55%{
        transform: translateY(-20px);
        @include blockgapGlowColor();
    }
}

@keyframes blockgap3 {
    0%, 100%{
        transform: translateY(0px);
    }
    54%{
        transform: translateY(0px);
    }
    55%{
        transform: translateY(-30px);
        @include blockgapGlowColor();
    }
}

@keyframes blockgap4 {
    0%, 100%{
        transform: translateY(0px);
    }
    54%{
        transform: translateY(0px);
    }
    55%{
        transform: translateY(-40px);
        @include blockgapGlowColor();
    }
}

@keyframes blockgap5 {
    0%, 100%{
        transform: translateY(0px);
    }
    54%{
        transform: translateY(0px);
    }
    55%{
        transform: translateY(-50px);
        @include blockgapGlowColor();
    }
}

.cls-1{fill:none;}.cls-2{isolation:isolate;}.cls-3{clip-path:url(#clip-path);}.cls-4{fill:#2f4d63;}.cls-5{fill:#304f66;}.cls-6{fill:#325169;}.cls-7{fill:#34546b;}.cls-8{fill:#35566e;}.cls-9{clip-path:url(#clip-path-2);}.cls-10{fill:#4e7796; transition: .3s;}.cls-11{clip-path:url(#clip-path-3);}.cls-12{clip-path:url(#clip-path-4);}.cls-13{clip-path:url(#clip-path-5);}.cls-14{clip-path:url(#clip-path-6);}.cls-15{clip-path:url(#clip-path-7);}.cls-16{clip-path:url(#clip-path-8);}.cls-17{clip-path:url(#clip-path-9);}.cls-18{clip-path:url(#clip-path-10);}.cls-19{clip-path:url(#clip-path-11);}.cls-20{clip-path:url(#clip-path-12);}.cls-21{clip-path:url(#clip-path-13);}.cls-22{clip-path:url(#clip-path-14);}.cls-23{clip-path:url(#clip-path-15);}.cls-24{clip-path:url(#clip-path-16);}.cls-25{clip-path:url(#clip-path-17);}.cls-26{clip-path:url(#clip-path-18);}.cls-27{clip-path:url(#clip-path-19);}.cls-28{clip-path:url(#clip-path-20);}.cls-29{clip-path:url(#clip-path-21);}.cls-30{clip-path:url(#clip-path-22);}.cls-31{clip-path:url(#clip-path-23);}.cls-32{clip-path:url(#clip-path-24);}.cls-33{clip-path:url(#clip-path-25);}.cls-34{clip-path:url(#clip-path-26);}.cls-35{clip-path:url(#clip-path-27);}.cls-36{clip-path:url(#clip-path-28);}.cls-37{clip-path:url(#clip-path-29);}.cls-38{clip-path:url(#clip-path-30);}.cls-39{clip-path:url(#clip-path-31);}.cls-40{clip-path:url(#clip-path-32);}.cls-41{clip-path:url(#clip-path-33);}.cls-42{clip-path:url(#clip-path-34);}.cls-43{clip-path:url(#clip-path-35);}.cls-44{clip-path:url(#clip-path-36);}.cls-45{clip-path:url(#clip-path-37);}.cls-46{clip-path:url(#clip-path-38);}.cls-47{clip-path:url(#clip-path-39);}.cls-48{clip-path:url(#clip-path-40);}.cls-49{clip-path:url(#clip-path-41);}.cls-50{fill:#395b74;}.cls-51{fill:#2e4c62;}.cls-52{clip-path:url(#clip-path-42);}.cls-53{clip-path:url(#clip-path-43);}.cls-54{fill:#2d4b61;}.cls-55{clip-path:url(#clip-path-44);}.cls-56{clip-path:url(#clip-path-45);}.cls-57{clip-path:url(#clip-path-46);}.cls-58{clip-path:url(#clip-path-47);}.cls-59{clip-path:url(#clip-path-48);}.cls-60{clip-path:url(#clip-path-49);}.cls-61{clip-path:url(#clip-path-50);}.cls-62{fill:#2e4d63;}.cls-63{clip-path:url(#clip-path-51);}.cls-64{clip-path:url(#clip-path-52);}.cls-65{fill:#33536a;}.cls-66{clip-path:url(#clip-path-53);}.cls-67{fill:#335269;}.cls-68{clip-path:url(#clip-path-54);}.cls-69{clip-path:url(#clip-path-55);}.cls-70{clip-path:url(#clip-path-56);}.cls-71{fill:#395b73;}.cls-72{clip-path:url(#clip-path-57);}.cls-73{clip-path:url(#clip-path-58);}.cls-74{fill:#304f65;}.cls-75{fill:#2f4e64;}.cls-76{fill:#395a73;}.cls-77{clip-path:url(#clip-path-59);}.cls-78{clip-path:url(#clip-path-60);}.cls-79{clip-path:url(#clip-path-61);}.cls-80{fill:#3a5b74;}.cls-81{clip-path:url(#clip-path-62);}.cls-82{clip-path:url(#clip-path-63);}.cls-83{clip-path:url(#clip-path-64);}.cls-84{clip-path:url(#clip-path-65);}.cls-85{clip-path:url(#clip-path-66);}.cls-86{clip-path:url(#clip-path-67);}.cls-87{clip-path:url(#clip-path-68);}.cls-88{clip-path:url(#clip-path-69);}.cls-89{clip-path:url(#clip-path-70);}.cls-90{clip-path:url(#clip-path-71);}.cls-91{clip-path:url(#clip-path-72);}.cls-92{clip-path:url(#clip-path-73);}.cls-93{clip-path:url(#clip-path-74);}.cls-94{clip-path:url(#clip-path-75);}.cls-95{clip-path:url(#clip-path-76);}.cls-96{clip-path:url(#clip-path-77);}.cls-97{clip-path:url(#clip-path-78);}.cls-98{clip-path:url(#clip-path-79);}.cls-99{clip-path:url(#clip-path-80);}.cls-100{clip-path:url(#clip-path-81);}.cls-101{clip-path:url(#clip-path-82);}.cls-102{clip-path:url(#clip-path-83);}.cls-103{clip-path:url(#clip-path-84);}.cls-104{clip-path:url(#clip-path-85);}.cls-105{clip-path:url(#clip-path-86);}.cls-106{fill:#385972;}.cls-107{clip-path:url(#clip-path-87);}.cls-108{clip-path:url(#clip-path-88);}.cls-109{clip-path:url(#clip-path-89);}.cls-110{clip-path:url(#clip-path-90);}.cls-111{clip-path:url(#clip-path-91);}.cls-112{fill:#325168;}.cls-113{clip-path:url(#clip-path-92);}.cls-114{clip-path:url(#clip-path-93);}.cls-115{clip-path:url(#clip-path-94);}.cls-116{clip-path:url(#clip-path-95);}.cls-117{clip-path:url(#clip-path-96);}.cls-118{clip-path:url(#clip-path-97);}.cls-119{fill:#375870; transition: .3s;}.cls-120{clip-path:url(#clip-path-98);}.cls-121{clip-path:url(#clip-path-99);}.cls-122{clip-path:url(#clip-path-100);}.cls-123{clip-path:url(#clip-path-101);}.cls-124{clip-path:url(#clip-path-102);}.cls-125{clip-path:url(#clip-path-103);}.cls-126{clip-path:url(#clip-path-104);}.cls-127{clip-path:url(#clip-path-105);}.cls-128{clip-path:url(#clip-path-106);}.cls-129{clip-path:url(#clip-path-107);}.cls-130{clip-path:url(#clip-path-108);}.cls-131{clip-path:url(#clip-path-109);}.cls-132{clip-path:url(#clip-path-110);}.cls-133{clip-path:url(#clip-path-111);}.cls-134{clip-path:url(#clip-path-112);}.cls-135{clip-path:url(#clip-path-113);}.cls-136{clip-path:url(#clip-path-114);}.cls-137{clip-path:url(#clip-path-115);}.cls-138{clip-path:url(#clip-path-116);}.cls-139{clip-path:url(#clip-path-117);}.cls-140{clip-path:url(#clip-path-118);}.cls-141{clip-path:url(#clip-path-119);}.cls-142{fill:#385a72;}.cls-143{clip-path:url(#clip-path-120);}.cls-144{clip-path:url(#clip-path-121);}.cls-145{clip-path:url(#clip-path-122);}.cls-146{fill:#35556d;}.cls-147{clip-path:url(#clip-path-123);}.cls-148{clip-path:url(#clip-path-124);}.cls-149{clip-path:url(#clip-path-125);}.cls-150{clip-path:url(#clip-path-126);}.cls-151{clip-path:url(#clip-path-127);}.cls-152{clip-path:url(#clip-path-128);}.cls-153{clip-path:url(#clip-path-129);}.cls-154{clip-path:url(#clip-path-130);}.cls-155{clip-path:url(#clip-path-131);}.cls-156{clip-path:url(#clip-path-132);}.cls-157{fill:#2e4c63;}.cls-158{clip-path:url(#clip-path-133);}.cls-159{clip-path:url(#clip-path-134);}.cls-160{clip-path:url(#clip-path-135);}.cls-161{clip-path:url(#clip-path-136);}.cls-162{clip-path:url(#clip-path-137);}.cls-163{clip-path:url(#clip-path-138);}.cls-164{clip-path:url(#clip-path-139);}.cls-165{clip-path:url(#clip-path-140);}.cls-166{clip-path:url(#clip-path-141);}.cls-167{clip-path:url(#clip-path-142);}.cls-168{clip-path:url(#clip-path-143);}.cls-169{clip-path:url(#clip-path-144);}.cls-170{clip-path:url(#clip-path-145);}.cls-171{clip-path:url(#clip-path-146);}.cls-172{clip-path:url(#clip-path-147);}.cls-173{fill:#375871;}.cls-174{fill:#325269;}.cls-175{clip-path:url(#clip-path-148);}.cls-176{clip-path:url(#clip-path-149);}.cls-177{clip-path:url(#clip-path-150);}.cls-178{clip-path:url(#clip-path-151);}.cls-179{clip-path:url(#clip-path-152);}.cls-180{clip-path:url(#clip-path-153);}.cls-181{clip-path:url(#clip-path-154);}.cls-182{clip-path:url(#clip-path-155);}.cls-183{clip-path:url(#clip-path-156);}.cls-184{clip-path:url(#clip-path-157);}.cls-185{clip-path:url(#clip-path-158);}.cls-186{clip-path:url(#clip-path-159);}.cls-187{clip-path:url(#clip-path-160);}.cls-188{clip-path:url(#clip-path-161);}.cls-189{clip-path:url(#clip-path-162);}.cls-190{clip-path:url(#clip-path-163);}.cls-191{clip-path:url(#clip-path-164);}.cls-192{clip-path:url(#clip-path-165);}.cls-193{clip-path:url(#clip-path-166);}.cls-194{fill:#385971;}.cls-195{fill:#34556c;}.cls-196{clip-path:url(#clip-path-167);}.cls-197{clip-path:url(#clip-path-168);}.cls-198{clip-path:url(#clip-path-169);}.cls-199{fill:#375971;}.cls-200{clip-path:url(#clip-path-170);}.cls-201{clip-path:url(#clip-path-171);}.cls-202{clip-path:url(#clip-path-172);}.cls-203{clip-path:url(#clip-path-173);}.cls-204{clip-path:url(#clip-path-174);}.cls-205{clip-path:url(#clip-path-175);}.cls-206{clip-path:url(#clip-path-176);}.cls-207{clip-path:url(#clip-path-177);}.cls-208{clip-path:url(#clip-path-178);}.cls-209{clip-path:url(#clip-path-179);}.cls-210{clip-path:url(#clip-path-180);}.cls-211{clip-path:url(#clip-path-181);}.cls-212{clip-path:url(#clip-path-182);}.cls-213{clip-path:url(#clip-path-183);}.cls-214{clip-path:url(#clip-path-184);}.cls-215{clip-path:url(#clip-path-185);}.cls-216{clip-path:url(#clip-path-186);}.cls-217{clip-path:url(#clip-path-187);}.cls-218{clip-path:url(#clip-path-188);}.cls-219{clip-path:url(#clip-path-189);}.cls-220{clip-path:url(#clip-path-190);}.cls-221{clip-path:url(#clip-path-191);}.cls-222{clip-path:url(#clip-path-192);}.cls-223{clip-path:url(#clip-path-193);}.cls-224{clip-path:url(#clip-path-194);}.cls-225{clip-path:url(#clip-path-195);}.cls-226{clip-path:url(#clip-path-196);}.cls-227{clip-path:url(#clip-path-197);}.cls-228{clip-path:url(#clip-path-198);}.cls-229{clip-path:url(#clip-path-199);}.cls-230{clip-path:url(#clip-path-200);}.cls-231{clip-path:url(#clip-path-201);}.cls-232{clip-path:url(#clip-path-202);}.cls-233{clip-path:url(#clip-path-203);}.cls-234{clip-path:url(#clip-path-204);}.cls-235{clip-path:url(#clip-path-205);}.cls-236{clip-path:url(#clip-path-206);}.cls-237{clip-path:url(#clip-path-207);}.cls-238{clip-path:url(#clip-path-208);}.cls-239{clip-path:url(#clip-path-209);}.cls-240{clip-path:url(#clip-path-210);}.cls-241{clip-path:url(#clip-path-211);}.cls-242{clip-path:url(#clip-path-212);}.cls-243{clip-path:url(#clip-path-213);}.cls-244{clip-path:url(#clip-path-214);}.cls-245{clip-path:url(#clip-path-215);}.cls-246{clip-path:url(#clip-path-216);}.cls-247{clip-path:url(#clip-path-217);}.cls-248{fill:#36566e;}.cls-249{fill:#2d4c62;}.cls-250{clip-path:url(#clip-path-218);}.cls-251{clip-path:url(#clip-path-219);}.cls-252{clip-path:url(#clip-path-220);}.cls-253{clip-path:url(#clip-path-221);}.cls-254{clip-path:url(#clip-path-222);}.cls-255{clip-path:url(#clip-path-223);}.cls-256{clip-path:url(#clip-path-224);}.cls-257{clip-path:url(#clip-path-225);}.cls-258{clip-path:url(#clip-path-226);}.cls-259{clip-path:url(#clip-path-227);}.cls-260{fill:#3d607a;}.cls-261{fill:#3c5e78;}.cls-262{fill:#3a5c75;}.cls-263{clip-path:url(#clip-path-228);}.cls-264{fill:#3f637d;}.cls-265{fill:#41657f;}.cls-266{fill:#426782;}.cls-267{fill:#446984;}.cls-268{fill:#456b87;}.cls-269{fill:#466d89;}.cls-270{fill:#486e8c;}.cls-271{fill:#49708e;}.cls-272{fill:#4b7290;}.cls-273{clip-path:url(#clip-path-229);}.cls-274{clip-path:url(#clip-path-230);}.cls-275{fill:#4c7493;}.cls-276{fill:#4d7695;}.cls-277{fill:#4e7897;}.cls-278{fill:#507a9a;}.cls-279{clip-path:url(#clip-path-231);}.cls-280{fill:#426681;}.cls-281{clip-path:url(#clip-path-232);}.cls-282{clip-path:url(#clip-path-233);}.cls-283{clip-path:url(#clip-path-234);}.cls-284{clip-path:url(#clip-path-235);}.cls-285{clip-path:url(#clip-path-236);}.cls-286{fill:#527d9d;}.cls-287{clip-path:url(#clip-path-237);}.cls-288{fill:#476d8a;}.cls-289{clip-path:url(#clip-path-238);}.cls-290{clip-path:url(#clip-path-239);}.cls-291{clip-path:url(#clip-path-240);}.cls-292{clip-path:url(#clip-path-241);}.cls-293{clip-path:url(#clip-path-242);}.cls-294{clip-path:url(#clip-path-243);}.cls-295{clip-path:url(#clip-path-244);}.cls-296{clip-path:url(#clip-path-245);}.cls-297{clip-path:url(#clip-path-246);}.cls-298{clip-path:url(#clip-path-247);}.cls-299{clip-path:url(#clip-path-248);}.cls-300{clip-path:url(#clip-path-249);}.cls-301{clip-path:url(#clip-path-250);}.cls-302{clip-path:url(#clip-path-251);}.cls-303{fill:#33536b;}.cls-304{clip-path:url(#clip-path-252);}.cls-305{clip-path:url(#clip-path-253);}.cls-306{clip-path:url(#clip-path-254);}.cls-307{clip-path:url(#clip-path-255);}.cls-308{clip-path:url(#clip-path-256);}.cls-309{clip-path:url(#clip-path-257);}.cls-310{clip-path:url(#clip-path-258);}.cls-311{clip-path:url(#clip-path-259);}.cls-312{clip-path:url(#clip-path-260);}.cls-313{clip-path:url(#clip-path-261);}.cls-314{clip-path:url(#clip-path-262);}.cls-315{clip-path:url(#clip-path-263);}.cls-316{clip-path:url(#clip-path-264);}.cls-317{clip-path:url(#clip-path-265);}.cls-318{clip-path:url(#clip-path-266);}.cls-319{clip-path:url(#clip-path-267);}.cls-320{clip-path:url(#clip-path-268);}.cls-321{clip-path:url(#clip-path-269);}.cls-322{clip-path:url(#clip-path-270);}.cls-323{clip-path:url(#clip-path-271);}.cls-324{clip-path:url(#clip-path-272);}.cls-325{clip-path:url(#clip-path-273);}.cls-326{clip-path:url(#clip-path-274);}.cls-327{clip-path:url(#clip-path-275);}.cls-328{clip-path:url(#clip-path-276);}.cls-329{clip-path:url(#clip-path-277);}.cls-330{clip-path:url(#clip-path-278);}.cls-331{clip-path:url(#clip-path-279);}.cls-332{clip-path:url(#clip-path-280);}.cls-333{clip-path:url(#clip-path-281);}.cls-334{clip-path:url(#clip-path-282);}.cls-335{clip-path:url(#clip-path-283);}.cls-336{clip-path:url(#clip-path-284);}.cls-337{clip-path:url(#clip-path-285);}.cls-338{clip-path:url(#clip-path-286);}.cls-339{clip-path:url(#clip-path-287);}.cls-340{clip-path:url(#clip-path-288);}.cls-341{clip-path:url(#clip-path-289);}.cls-342{clip-path:url(#clip-path-290);}.cls-343{clip-path:url(#clip-path-291);}.cls-344{clip-path:url(#clip-path-292);}.cls-345{clip-path:url(#clip-path-293);}.cls-346{clip-path:url(#clip-path-294);}.cls-347{fill:#35566d;}.cls-348{clip-path:url(#clip-path-295);}.cls-349{clip-path:url(#clip-path-296);}.cls-350{clip-path:url(#clip-path-297);}.cls-351{clip-path:url(#clip-path-298);}.cls-352{clip-path:url(#clip-path-299);}.cls-353{clip-path:url(#clip-path-300);}.cls-354{clip-path:url(#clip-path-301);}.cls-355{clip-path:url(#clip-path-302);}.cls-356{clip-path:url(#clip-path-303);}.cls-357{clip-path:url(#clip-path-304);}.cls-358{clip-path:url(#clip-path-305);}.cls-359{clip-path:url(#clip-path-306);}.cls-360{clip-path:url(#clip-path-307);}.cls-361{clip-path:url(#clip-path-308);}.cls-362{clip-path:url(#clip-path-309);}.cls-363{clip-path:url(#clip-path-310);}.cls-364{clip-path:url(#clip-path-311);}.cls-365{clip-path:url(#clip-path-312);}.cls-366{clip-path:url(#clip-path-313);}.cls-367{clip-path:url(#clip-path-314);}.cls-368{clip-path:url(#clip-path-315);}.cls-369{clip-path:url(#clip-path-316);}.cls-370{clip-path:url(#clip-path-317);}.cls-371{clip-path:url(#clip-path-318);}.cls-372{clip-path:url(#clip-path-319);}.cls-373{clip-path:url(#clip-path-320);}.cls-374{clip-path:url(#clip-path-321);}.cls-375{clip-path:url(#clip-path-322);}.cls-376{clip-path:url(#clip-path-323);}.cls-377{clip-path:url(#clip-path-324);}.cls-378{clip-path:url(#clip-path-325);}.cls-379{clip-path:url(#clip-path-326);}.cls-380{clip-path:url(#clip-path-327);}.cls-381{clip-path:url(#clip-path-328);}.cls-382{clip-path:url(#clip-path-329);}.cls-383{clip-path:url(#clip-path-330);}.cls-384{clip-path:url(#clip-path-331);}.cls-385{clip-path:url(#clip-path-332);}.cls-386{clip-path:url(#clip-path-333);}.cls-387{fill:#35556c;}.cls-388{clip-path:url(#clip-path-334);}.cls-389{clip-path:url(#clip-path-335);}.cls-390{clip-path:url(#clip-path-336);}.cls-391{clip-path:url(#clip-path-337);}.cls-392{clip-path:url(#clip-path-338);}.cls-393{clip-path:url(#clip-path-339);}.cls-394{clip-path:url(#clip-path-340);}.cls-395{clip-path:url(#clip-path-341);}.cls-396{clip-path:url(#clip-path-342);}.cls-397{clip-path:url(#clip-path-343);}.cls-398{clip-path:url(#clip-path-344);}.cls-399{clip-path:url(#clip-path-345);}.cls-400{clip-path:url(#clip-path-346);}.cls-401{clip-path:url(#clip-path-347);}.cls-402{clip-path:url(#clip-path-348);}.cls-403{clip-path:url(#clip-path-349);}.cls-404{clip-path:url(#clip-path-350);}.cls-405{clip-path:url(#clip-path-351);}.cls-406{clip-path:url(#clip-path-352);}.cls-407{clip-path:url(#clip-path-353);}.cls-408{clip-path:url(#clip-path-354);}.cls-409{clip-path:url(#clip-path-355);}.cls-410{clip-path:url(#clip-path-356);}.cls-411{clip-path:url(#clip-path-357);}.cls-412{clip-path:url(#clip-path-358);}.cls-413{clip-path:url(#clip-path-359);}.cls-414{clip-path:url(#clip-path-360);}.cls-415{clip-path:url(#clip-path-361);}.cls-416{clip-path:url(#clip-path-362);}.cls-417{clip-path:url(#clip-path-363);}.cls-418{clip-path:url(#clip-path-364);}.cls-419{clip-path:url(#clip-path-365);}.cls-420{clip-path:url(#clip-path-366);}.cls-421{clip-path:url(#clip-path-367);}.cls-422{fill:#34546c;}.cls-423{clip-path:url(#clip-path-368);}.cls-424{clip-path:url(#clip-path-369);}.cls-425{clip-path:url(#clip-path-370);}.cls-426{clip-path:url(#clip-path-371);}.cls-427{clip-path:url(#clip-path-372);}.cls-428{clip-path:url(#clip-path-373);}.cls-429{clip-path:url(#clip-path-374);}.cls-430{clip-path:url(#clip-path-375);}.cls-431{clip-path:url(#clip-path-376);}.cls-432{clip-path:url(#clip-path-377);}.cls-433{clip-path:url(#clip-path-378);}.cls-434{clip-path:url(#clip-path-379);}.cls-435{clip-path:url(#clip-path-380);}.cls-436{clip-path:url(#clip-path-381);}.cls-437{clip-path:url(#clip-path-382);}.cls-438{clip-path:url(#clip-path-383);}.cls-439{clip-path:url(#clip-path-384);}.cls-440{clip-path:url(#clip-path-385);}.cls-441{clip-path:url(#clip-path-386);}.cls-442{clip-path:url(#clip-path-387);}.cls-443{clip-path:url(#clip-path-388);}.cls-444{clip-path:url(#clip-path-389);}.cls-445{clip-path:url(#clip-path-390);}.cls-446{clip-path:url(#clip-path-391);}.cls-447{clip-path:url(#clip-path-392);}.cls-448{clip-path:url(#clip-path-393);}.cls-449{clip-path:url(#clip-path-394);}.cls-450{clip-path:url(#clip-path-395);}.cls-451{clip-path:url(#clip-path-396);}.cls-452{clip-path:url(#clip-path-397);}.cls-453{clip-path:url(#clip-path-398);}.cls-454{clip-path:url(#clip-path-399);}.cls-455{clip-path:url(#clip-path-400);}.cls-456{clip-path:url(#clip-path-401);}.cls-457{clip-path:url(#clip-path-402);}.cls-458{clip-path:url(#clip-path-403);}.cls-459{clip-path:url(#clip-path-404);}.cls-460{clip-path:url(#clip-path-405);}.cls-461{clip-path:url(#clip-path-406);}.cls-462{clip-path:url(#clip-path-407);}.cls-463{clip-path:url(#clip-path-408);}.cls-464{clip-path:url(#clip-path-409);}.cls-465{clip-path:url(#clip-path-410);}.cls-466{clip-path:url(#clip-path-411);}.cls-467{clip-path:url(#clip-path-412);}.cls-468{clip-path:url(#clip-path-413);}.cls-469{clip-path:url(#clip-path-414);}.cls-470{clip-path:url(#clip-path-415);}.cls-471{clip-path:url(#clip-path-416);}.cls-472{clip-path:url(#clip-path-417);}.cls-473{clip-path:url(#clip-path-418);}.cls-474{clip-path:url(#clip-path-419);}.cls-475{clip-path:url(#clip-path-420);}.cls-476{clip-path:url(#clip-path-421);}.cls-477{clip-path:url(#clip-path-422);}.cls-478{clip-path:url(#clip-path-423);}.cls-479{clip-path:url(#clip-path-424);}.cls-480{clip-path:url(#clip-path-425);}.cls-481{clip-path:url(#clip-path-426);}.cls-482{clip-path:url(#clip-path-427);}.cls-483{clip-path:url(#clip-path-428);}.cls-484{clip-path:url(#clip-path-429);}.cls-485{clip-path:url(#clip-path-430);}.cls-486{fill:#517c9c;}.cls-487{clip-path:url(#clip-path-431);}.cls-488{clip-path:url(#clip-path-432);}.cls-489{clip-path:url(#clip-path-433);}.cls-490{clip-path:url(#clip-path-434);}.cls-491{clip-path:url(#clip-path-435);}.cls-492{clip-path:url(#clip-path-436);}.cls-493{clip-path:url(#clip-path-437);}.cls-494{clip-path:url(#clip-path-438);}.cls-495{clip-path:url(#clip-path-439);}.cls-496{clip-path:url(#clip-path-440);}.cls-497{clip-path:url(#clip-path-441);}.cls-498{clip-path:url(#clip-path-442);}.cls-499{clip-path:url(#clip-path-443);}.cls-500{clip-path:url(#clip-path-444);}.cls-501{clip-path:url(#clip-path-445);}.cls-502{clip-path:url(#clip-path-446);}.cls-503{clip-path:url(#clip-path-447);}.cls-504{clip-path:url(#clip-path-448);}.cls-505{clip-path:url(#clip-path-449);}.cls-506{clip-path:url(#clip-path-450);}.cls-507{clip-path:url(#clip-path-451);}.cls-508{clip-path:url(#clip-path-452);}.cls-509{fill:#315168;}.cls-510{clip-path:url(#clip-path-453);}.cls-511{clip-path:url(#clip-path-454);}.cls-512{clip-path:url(#clip-path-455);}.cls-513{clip-path:url(#clip-path-456);}.cls-514{clip-path:url(#clip-path-457);}.cls-515{clip-path:url(#clip-path-458);}.cls-516{clip-path:url(#clip-path-459);}.cls-517{clip-path:url(#clip-path-460);}.cls-518{clip-path:url(#clip-path-461);}.cls-519{clip-path:url(#clip-path-462);}.cls-520{clip-path:url(#clip-path-463);}.cls-521{clip-path:url(#clip-path-464);}.cls-522{clip-path:url(#clip-path-465);}.cls-523{clip-path:url(#clip-path-466);}.cls-524{clip-path:url(#clip-path-467);}.cls-525{clip-path:url(#clip-path-468);}.cls-526{clip-path:url(#clip-path-469);}.cls-527{clip-path:url(#clip-path-470);}.cls-528{clip-path:url(#clip-path-471);}.cls-529{clip-path:url(#clip-path-472);}.cls-530{clip-path:url(#clip-path-473);}.cls-531{fill:#36576f;}.cls-532{clip-path:url(#clip-path-474);}.cls-533{clip-path:url(#clip-path-475);}.cls-534{clip-path:url(#clip-path-476);}.cls-535{clip-path:url(#clip-path-477);}.cls-536{clip-path:url(#clip-path-478);}.cls-537{clip-path:url(#clip-path-479);}.cls-538{clip-path:url(#clip-path-480);}.cls-539{clip-path:url(#clip-path-481);}.cls-540{clip-path:url(#clip-path-482);}.cls-541{clip-path:url(#clip-path-483);}.cls-542{clip-path:url(#clip-path-484);}.cls-543{clip-path:url(#clip-path-485);}.cls-544{clip-path:url(#clip-path-486);}.cls-545{clip-path:url(#clip-path-487);}.cls-546{clip-path:url(#clip-path-488);}.cls-547{clip-path:url(#clip-path-489);}.cls-548{clip-path:url(#clip-path-490);}.cls-549{clip-path:url(#clip-path-491);}.cls-550{clip-path:url(#clip-path-492);}.cls-551{clip-path:url(#clip-path-493);}.cls-552{clip-path:url(#clip-path-494);}.cls-553{clip-path:url(#clip-path-495);}.cls-554{clip-path:url(#clip-path-496);}.cls-555{clip-path:url(#clip-path-497);}.cls-556{clip-path:url(#clip-path-498);}.cls-557{clip-path:url(#clip-path-499);}.cls-558{clip-path:url(#clip-path-500);}.cls-559{clip-path:url(#clip-path-501);}.cls-560{clip-path:url(#clip-path-502);}.cls-561{clip-path:url(#clip-path-503);}.cls-562{clip-path:url(#clip-path-504);}.cls-563{clip-path:url(#clip-path-505);}.cls-564{clip-path:url(#clip-path-506);}.cls-565{clip-path:url(#clip-path-507);}.cls-566{clip-path:url(#clip-path-508);}.cls-567{clip-path:url(#clip-path-509);}.cls-568{clip-path:url(#clip-path-510);}.cls-569{clip-path:url(#clip-path-511);}.cls-570{clip-path:url(#clip-path-512);}.cls-571{clip-path:url(#clip-path-513);}.cls-572{clip-path:url(#clip-path-514);}.cls-573{clip-path:url(#clip-path-515);}.cls-574{clip-path:url(#clip-path-516);}.cls-575{clip-path:url(#clip-path-517);}.cls-576{clip-path:url(#clip-path-518);}.cls-577{clip-path:url(#clip-path-519);}.cls-578{clip-path:url(#clip-path-520);}.cls-579{clip-path:url(#clip-path-521);}.cls-580{clip-path:url(#clip-path-522);}.cls-581{clip-path:url(#clip-path-523);}.cls-582{clip-path:url(#clip-path-524);}.cls-583{clip-path:url(#clip-path-525);}.cls-584{clip-path:url(#clip-path-526);}.cls-585{clip-path:url(#clip-path-527);}.cls-586{clip-path:url(#clip-path-528);}.cls-587{clip-path:url(#clip-path-529);}.cls-588{clip-path:url(#clip-path-530);}.cls-589{clip-path:url(#clip-path-531);}.cls-590{clip-path:url(#clip-path-532);}.cls-591{clip-path:url(#clip-path-533);}.cls-592{clip-path:url(#clip-path-534);}.cls-593{clip-path:url(#clip-path-535);}.cls-594{clip-path:url(#clip-path-536);}.cls-595{clip-path:url(#clip-path-537);}.cls-596{clip-path:url(#clip-path-538);}.cls-597{clip-path:url(#clip-path-539);}.cls-598{clip-path:url(#clip-path-540);}.cls-599{clip-path:url(#clip-path-541);}.cls-600{clip-path:url(#clip-path-542);}.cls-601{clip-path:url(#clip-path-543);}.cls-602{clip-path:url(#clip-path-544);}.cls-603{clip-path:url(#clip-path-545);}.cls-604{clip-path:url(#clip-path-546);}.cls-605{clip-path:url(#clip-path-547);}.cls-606{clip-path:url(#clip-path-548);}.cls-607{clip-path:url(#clip-path-549);}.cls-608{clip-path:url(#clip-path-550);}.cls-609{clip-path:url(#clip-path-551);}.cls-610{clip-path:url(#clip-path-552);}.cls-611{clip-path:url(#clip-path-553);}.cls-612{clip-path:url(#clip-path-554);}.cls-613{clip-path:url(#clip-path-555);}.cls-614{clip-path:url(#clip-path-556);}.cls-615{clip-path:url(#clip-path-557);}.cls-616{clip-path:url(#clip-path-558);}.cls-617{clip-path:url(#clip-path-559);}.cls-618{clip-path:url(#clip-path-560);}.cls-619{clip-path:url(#clip-path-561);}.cls-620{clip-path:url(#clip-path-562);}.cls-621{clip-path:url(#clip-path-563);}.cls-622{clip-path:url(#clip-path-564);}.cls-623{clip-path:url(#clip-path-565);}